[Unit]
Description=Mailcleaner - SMTP Antivirus/Antispam Gateway
Requires=sshd.service
Conflicts=mailcleaner.target mariadb@slave.service mariadb@master.service
AllowIsolate=yes
