[Unit]
Description=MailScanner Anti-Virus daemon for MailCleaner
After=clamav-daemon.service dccifd.service clamspamd.service spamd@newsld.service spamd@spamd.service mariadb@slave.service preftdaemon.service

[Service]
User=mailscanner
Group=mailcleaner
PrivateTmp=false
Type=forking
ExecStartPre=+/usr/mailcleaner/bin/dump_mailscanner_config.pl %I
ExecStart=/usr/bin/check_mailscanner

[Install]
WantedBy=mailcleaner.target
