[Unit]
Description=Preferences daemon for MailCleaner
After=mariadb@master.service
Requires=mariadb@master.service
PartOf=mailcleaner.service

[Service]
User=mailcleaner
Group=mailcleaner
PrivateTmp=false
Type=forking
#ExecStartPre=+/usr/mailcleaner/bin/dump_stats_daemon.pl %I
ExecStart=/usr/mailcleaner/bin/daemon_starter.pl PrefTDaemon -d start

[Install]
WantedBy=mailcleaner.target
