[Unit]
Description=SpamHandler daemon for MailCleaner
After=mariadb@master.service

[Service]
User=mailcleaner
Group=mailcleaner
PrivateTmp=false
Type=forking
#ExecStartPre=+/usr/mailcleaner/bin/dump_stats_daemon.pl %I
ExecStart=/usr/mailcleaner/bin/daemon_starter.pl SpamHandler -d start

[Install]
WantedBy=multi-user.target
